<!DOCTYPE html>
<html>
<head>

    <link rel="icon" href="/static/icon.png">
    <link rel="stylesheet" href="/static/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.css">
    

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="/static/jquery_3.2.1.min.js"></script>
    <link rel="stylesheet" href="/static/bootstrap.bundle.min.js">

    <style type="text/css">

    </style>
</head>
<body>
	<div class="container">
		<h1>hiiii</h1>
		<i class="fa fa-thumbs-up"></i>
	</div>
</body>
</html>